apiVersion: apps/v1
kind: Deployment
metadata:
  name: teastore-jmeter
  labels:
    app: teastore
    run: teastore-jmeter
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: teastore
      run: teastore-jmeter
  template:
    metadata:
      labels:
        app: teastore
        run: teastore-jmeter
    spec:
      terminationGracePeriodSeconds: 0
      initContainers:
        - name: wait-for-teastore-webui
          image: curlimages/curl:8.6.0
          command:
            - sh
            - -c
            - |
              echo "Waiting for teastore-webui to become healthy"
              until [ "$(curl -s http://teastore-webui:{{ .Values.service.port  }}/tools.descartes.teastore.webui/status | grep -I OK | wc -l)" -eq 5 ]; do
                echo "WebUI not ready yet... sleeping 5s"
                sleep 5
              done
              echo "teastore-webui is healthy"
      containers:
        - name: teastore-jmeter
          image: "{{ .Values.image.jmeter }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
              
